.gradient-custom-2 {
    /* fallback for old browsers */
    background: #012677;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,#012677,#318CE7, #012677, #318CE7);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,#012677,#318CE7, #012677, #318CE7);
  }
  
  @media (min-width: center) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  /* @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  } */
  .custom-input-wrapper {
    border: 2px solid #809fbf;  // Change the border style as needed
    border-radius: 5px;           // Add border-radius for rounded corners
    padding: 10px;                // Add padding for spacing
  }
  